DEBUG=[1 to debug mode, 0 to normal]
SECRET_KEY=[django secret key]
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1] nginx 37.218.241.8
SQL_ENGINE=timescale.db.backends.postgresql
SQL_DATABASE=[db name]
SQL_USER=[db user]
SQL_PASSWORD=[db passwd]
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres